numpy==1.26.4
tqdm==4.66.2
h5py
joblib
matplotlib
multidict
networkx
numba
pandas
patsy
pillow
protobuf
pycparser
pynndescent
pyparsing
lightning
pytz
requests
scikit-image
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
smmap
sounddevice
statsmodels
threadpoolctl
tifffile
time-interpret
torch
torchaudio
torchmetrics
torchvision
tzdata
umap-learn
urllib3
wandb
yarl
captum
